In [3]:
import pandas as pd

data = pd.read_csv('test_data.csv', delim_whitespace=True, header=None)

In [4]:
data

     0   1   2   3   4
0   22  13  17  11   0
1    8   2  23   4  24
2   21   9  14  16   7
3    6  10   3  18   5
4    1  12  20  15  19
5    3  15   0   2  22
6    9  18  13  17   5
7   19   8   7  25  23
8   20  11  10  24   4
9   14  21  16  12   6
10  14  21  17  24   4
11  10  16  15   9  19
12  18   8  23  26  20
13  22  11  13   6   5
14   2   0  12   3   7

In [50]:
ls = []

ls.append(data.iloc[5:10,:].values)

In [54]:
ls.append(data.iloc[5:10,:].values)
ls

[array([[ 3, 15,  0,  2, 22],
        [ 9, 18, 13, 17,  5],
        [19,  8,  7, 25, 23],
        [20, 11, 10, 24,  4],
        [14, 21, 16, 12,  6]]),
 array([[ 3, 15,  0,  2, 22],
        [ 9, 18, 13, 17,  5],
        [19,  8,  7, 25, 23],
        [20, 11, 10, 24,  4],
        [14, 21, 16, 12,  6]]),
 array([[ 3, 15,  0,  2, 22],
        [ 9, 18, 13, 17,  5],
        [19,  8,  7, 25, 23],
        [20, 11, 10, 24,  4],
        [14, 21, 16, 12,  6]]),
 array([[ 3, 15,  0,  2, 22],
        [ 9, 18, 13, 17,  5],
        [19,  8,  7, 25, 23],
        [20, 11, 10, 24,  4],
        [14, 21, 16, 12,  6]]),
 array([[ 3, 15,  0,  2, 22],
        [ 9, 18, 13, 17,  5],
        [19,  8,  7, 25, 23],
        [20, 11, 10, 24,  4],
        [14, 21, 16, 12,  6]])]

In [31]:
ls = [
    [[ 3, 15,  0,  2, 22],
    [ 9, 18, 13, 17,  5],
    [19,  8,  7, 25, 23],
    [20, 11, 10, 24,  4],
    [14, 21, 16, 12,  6]],
    [[ 3, 15,  0,  2, 22],
    [ 9, 18, 13, 17,  5],
    [19,  8,  7, 25, 23],
    [20, 11, 10, 24,  4],
    [14, 21, 16, 12,  6]]
]

In [32]:
ls

[[[3, 15, 0, 2, 22],
  [9, 18, 13, 17, 5],
  [19, 8, 7, 25, 23],
  [20, 11, 10, 24, 4],
  [14, 21, 16, 12, 6]],
 [[3, 15, 0, 2, 22],
  [9, 18, 13, 17, 5],
  [19, 8, 7, 25, 23],
  [20, 11, 10, 24, 4],
  [14, 21, 16, 12, 6]]]

In [63]:
data

     0   1   2   3   4
0   22  13  17  11   0
1    8   2  23   4  24
2   21   9  14  16   7
3    6  10   3  18   5
4    1  12  20  15  19
5    3  15   0   2  22
6    9  18  13  17   5
7   19   8   7  25  23
8   20  11  10  24   4
9   14  21  16  12   6
10  14  21  17  24   4
11  10  16  15   9  19
12  18   8  23  26  20
13  22  11  13   6   5
14   2   0  12   3   7

In [66]:
ls = []

for x in range(0, len(data), 5):
    # print(data.iloc[x:x+5, :])
    array = data.iloc[x:x+5, :]
    ls.append(array)

# each time i replace, i check the arrays for any full rows/columnscd
ls = s.replace(2, 'a')

[    0   1   2   3   4
 0  22  13  17  11   0
 1   8   2  23   4  24
 2  21   9  14  16   7
 3   6  10   3  18   5
 4   1  12  20  15  19,
     0   1   2   3   4
 5   3  15   0   2  22
 6   9  18  13  17   5
 7  19   8   7  25  23
 8  20  11  10  24   4
 9  14  21  16  12   6,
      0   1   2   3   4
 10  14  21  17  24   4
 11  10  16  15   9  19
 12  18   8  23  26  20
 13  22  11  13   6   5
 14   2   0  12   3   7]

In [74]:
ls

    0   1   2   3   4
0   3  15   0   a  22
1   9  18  13  17   5
2  19   8   7  25  23
3  20  11  10  24   4
4  14  21  16  12   6

In [11]:
import pandas as pd
numbers = pd.read_csv('bingo_number_test.csv', header=None)
data = pd.read_csv('test_data.csv', delim_whitespace=True, header=None)

for bing_no in numbers.iloc[0,:].values:

7
4
9
5
11
17
23
2
0
14
21
24
10
16
13
6
15
25
12
22
18
20
8
19
3
26
1

In [14]:
s = pd.Series([0, 1, 2, 3, 4])
s = s.replace(0, 'a')

In [73]:
ls = s.replace(2, 'a')

In [56]:
s = ls[1]
s = pd.DataFrame(s)

In [57]:
s

    0   1   2   3   4
0   3  15   0   2  22
1   9  18  13  17   5
2  19   8   7  25  23
3  20  11  10  24   4
4  14  21  16  12   6