In [71]:
import pandas as pd
data = pd.read_csv('test_data.csv', header = None)
data.rename(columns={0:'paths'}, inplace=True)
starts = data.paths.str.contains(r'start')
starts = data.loc[starts, :]
ends = data.paths.str.contains(r'end')
ends = data.loc[ends, :]
starts_caps = data.paths.str.contains(r'^[A-Z]{1,2}-[a-z]{1,2}$')
starts_caps = data.loc[starts_caps,:]
ends_caps = data.paths.str.contains(r'(^[a-zA-Z]{1,2})-[A-Z]{1,2}$')
ends_caps = data.loc[ends_caps,:]
all_small = data.paths.str.contains(r'^[a-z]{1,2}-[a-z]{1,2}$')
all_small = data.loc[all_small,:]
data['starts'] = starts
data['start_caps'] = starts_caps
data['ends_caps'] = ends_caps
data['all_small'] = all_small
data['ends'] = ends
data

/var/folders/kj/2sm6n_8n4qz6nc6n10vljkbr0000gn/T/ipykernel_37573/3325392542.py:10: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  ends_caps = data.paths.str.contains(r'(^[a-zA-Z]{1,2})-[A-Z]{1,2}$')

     paths   starts start_caps ends_caps all_small   ends
0  start-A  start-A        NaN       NaN       NaN    NaN
1  start-b  start-b        NaN       NaN       NaN    NaN
2      A-c      NaN        A-c       NaN       NaN    NaN
3      A-b      NaN        A-b       NaN       NaN    NaN
4      b-d      NaN        NaN       NaN       b-d    NaN
5    A-end      NaN        NaN       NaN       NaN  A-end
6    b-end      NaN        NaN       NaN       NaN  b-end

In [80]:
import pandas as pd
data = pd.read_csv('test_data.csv', header = None)
data.rename(columns={0:'paths'}, inplace=True)

starts = data.paths.str.contains(r'start')
starts = data.loc[starts, :]
ends = data.paths.str.contains(r'end')
ends = data.loc[ends, :]
intermeidates = data.paths.str.contains(r'(?i)^[a-z]{1,2}-[a-z]{1,2}$')
intermeidates = data.loc[intermeidates, :]

data['starts'] = starts
data['intermediates'] = intermeidates
data['ends'] = ends
data

     paths   starts intermediates   ends
0  start-A  start-A           NaN    NaN
1  start-b  start-b           NaN    NaN
2      A-c      NaN           A-c    NaN
3      A-b      NaN           A-b    NaN
4      b-d      NaN           b-d    NaN
5    A-end      NaN           NaN  A-end
6    b-end      NaN           NaN  b-end

In [8]:
start_position = 'start-A'

import pandas as pd
data = pd.read_csv('test_data.csv', header = None)
data.rename(columns={0:'paths'}, inplace=True)

# Find intermediates
intermeidates = data.paths.str.contains(r'(?i)^[a-z]{1,2}-[a-z]{1,2}$')
intermeidates = data.loc[intermeidates, :]

# Find ends
ends = data.paths.str.contains(r'end')
ends = data.loc[ends, :]

# Split at - to flip vals then rejoin
values = intermeidates.paths.str.split('-')
values = [x for x in values]
inverted = [[x[1],x[0]] for x in values]
inverted = ['-'.join(x) for x in inverted]

# Combine all into list
intermeidates = [item[0] for item in intermeidates.values.tolist()]
[inverted.append(x) for x in intermeidates]
[inverted.append(x[0]) for x in ends.values]

#start A - 3 options then 2 options c or b

[None, None]

In [9]:
inverted

['c-A', 'b-A', 'd-b', 'A-c', 'A-b', 'b-d', 'A-end', 'b-end']

In [89]:
import re
import numpy as np

def find_match(df:pd.Series, string):
    # Find a match using the last chr at the key.
    str_chr = re.findall('(?i)[a-z]$', string)
    index = df.str.contains(f'^{str_chr[0]}')
    return df[index]

def find_last_chr(df:pd.Series):
    # Extract the last character and drop na.
    extract_val = df.str.extract(r'-(.*)')
    return extract_val.dropna()

path_count = 0
inverted = pd.Series(inverted)
inverted = inverted.replace(np.nan, '')

start = 'start-A'
small_chambers = []

returned_vals = find_match(inverted, 'start-A')

if any(returned_vals.str.contains('end')):
    path_count += sum(returned_vals.str.contains('end'))

returned_vals = returned_vals.str.replace(r'[A-Z]+-end', 'NA', regex=True)
next_loc = find_last_chr(returned_vals)

# append visited small chambers to list
for each_chr in next_loc.values.tolist():
    if each_chr[0].islower():
        small_chambers.append(each_chr[0])

find_match(inverted, next_loc.values.tolist()[0][0])

0    c-A
dtype: object

In [90]:
next_loc

   0
3  c
4  b

In [19]:
sum(returned_vals.str.contains('end'))

1

In [72]:
str = 'sds'
str.islower()

True